version: "3.8"
services:
  lifefit-blue:
    image: lifefit-api:latest
    container_name: lifefit-blue
    ports:
      - "8080:8080"
    restart: always
    mem_limit: 700m
    env_file:
      - .env
    environment:
      - "SPRING_PROFILES_ACTIVE=prod,kafka"
      - "SPRING_KAFKA_BOOTSTRAP_SERVERS=${KAFKA_BOOTSTRAP_SERVERS}"
      - "SPRING_KAFKA_PROPERTIES_SECURITY_PROTOCOL=SASL_SSL"
      - "SPRING_KAFKA_PROPERTIES_SASL_MECHANISM=PLAIN"
      - "SPRING_KAFKA_PROPERTIES_SASL_JAAS_CONFIG=org.apache.kafka.common.security.plain.PlainLoginModule required username='${KAFKA_API_KEY}' password='${KAFKA_API_SECRET}';"

  lifefit-green:
    image: lifefit-api:latest
    container_name: lifefit-green
    ports:
      - "8081:8080"
    restart: always
    mem_limit: 700m
    env_file:
      - .env
    environment:
      - "SPRING_PROFILES_ACTIVE=prod,kafka"
      - "SPRING_KAFKA_BOOTSTRAP_SERVERS=${KAFKA_BOOTSTRAP_SERVERS}"
      - "SPRING_KAFKA_PROPERTIES_SECURITY_PROTOCOL=SASL_SSL"
      - "SPRING_KAFKA_PROPERTIES_SASL_MECHANISM=PLAIN"
      - "SPRING_KAFKA_PROPERTIES_SASL_JAAS_CONFIG=org.apache.kafka.common.security.plain.PlainLoginModule required username='${KAFKA_API_KEY}' password='${KAFKA_API_SECRET}';"