version: "3.8"
services:
  lifefit-blue:
    image: lifefit-api:latest
    container_name: lifefit-blue
    ports:
      - "8080:8080"
    restart: always
    mem_limit: 700m
    environment:
      - SPRING_PROFILES_ACTIVE=prod,kafka

  lifefit-green:
    image: lifefit-api:latest
    container_name: lifefit-green
    ports:
      - "8081:8080"
    restart: always
    mem_limit: 700m
    environment:
      - SPRING_PROFILES_ACTIVE=prod,kafka

